<section class="container" id="sobre">

  <h1>Angular</h1>
  <div class="row my-5">
     <div class="col-md-4">
      <h3>Angular</h3>
      <p>O Angular é um framework JavaScript que simplifica não apenas a construção da interface de usuário, mas também o desenvolvimento de aplicações client-side diferenciadas, sejam elas para a web, mobile ou desktop.</p>
     </div>
     <div class="col-md-4">
      <h3>Angular CLI</h3>
      <p> Angular CLI é uma ferramenta de linha de comando que facilita a criação de diversos artefatos necessários em uma aplicação Angular, tais como componentes, serviços, interfaces, entre outros</p>      
     </div>
     <div class="col-md-4">
      <h3>Fundamentos de SPAs</h3>
      <p> Uma SPA, single-page application, são aplicações nas quais o usuário não precisa aguardar o recarregamento de toda a página para vê-la se atualizar por completo ou parcialmente. Essas aplicações tem se tornado um padrão de mercado e não apenas melhoram a usabilidade da aplicação.</p>      
     </div> 
     <button class="my-3" href="https://angular.io" target="_blank" mat-raised-button color="warn">Saiba mais!</button>   
  </div>    

</section>

<!--  ACCORDEON   -->
<section class="container sobre" id="accordion">

  <h1 id="perguntasFrequentes">Perguntas frequentes</h1>
  <hr>
  <mat-accordion>
    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>O que é o Angular?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
              <p>Angular é uma plataforma e framework para construção da interface de aplicações usando
                HTM, CSS e, principalmente, JavaScript, criada pelos
                desenvolvedores da Google.</p>
                <p>Apesar de ser um frameword de JavaScript, a linguagem utilizada para a codificação é o TypeScript.</p>
              <p>O Angular possui alguns elementos básicos que tornam sua utilização interessante.</p>
              <p> Dentre os principais, podemos destacar os componentes, templates, diretivas, roteamento, módulos,
                  serviços, injeção de dependências e ferramentas de infraestrutura que automatizam tarefas, como a
                de executar os testes unitários de uma aplicação.</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>O que é o TypeScript?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
              <p>O TypeScript é uma linguagem de programação criada pela Microsoft. Ela é um superset do JavaScript, ou seja, faz tudo o que o JavaScript faz e ainda mais algumas coisas.</p>
              <p>  Uma das coisas legais ao escolher TypeScript é a possibilidade de utilizar os recursos mais recentes do JavaScript, que ainda não funcionam nos navegadores.</p>
              <p>Os navegadores só conseguem executar códigos em JavaScript, então para resolver o problema de escrever os códigos em TypeScript (assim como em outras linguagens), é necessário fazer a TRANSPILAÇÃO. </p>
              
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>O que é o Transpilação?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
              <p>Transpilação é parecido com a compilação, mas ao invés de gerar um código de mais baixo nível, é gerado o código em outra linguagem, ou na mesma linguagem, só que com o objetivo de deixar compatível com o ambiente que vai ser executado.</p>
              <p> No caso de aplicações Angular desenvolvidas com TypeScript, a transpilação é o mesmo que gerar código JavaScript a partir de código TypeScript.</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Vale a pena aprender?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
              <p>A resposta é: SIM!</p>
              <p>O mercado da tecnologia absorveu bem o Angular. Pequenas e grandes empresas já adotaram a tecnologia, mas ainda existem poucos profissionais qualificados, o que é incompatível com a demanda.</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>

  </mat-accordion>

</section>
<!-- FECHA ACCORDEON  -->
